.fondo{
    background-image: url(../../banner-alplato.jpg);
    background-position: center;
    height: 100px;
}
.titulo2{
    -webkit-text-stroke: 1.3px black;
}
.precio{
    
   width: 19vh;
   height: 5vh;
}